@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300&display=swap');

/* Initialise webpage with zero values */
*{
    margin: 0;
    padding: 0;
    border: none;
}

/* Style for overall webpage */
body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
}
/* Headings and logo */
h1, h2 {
    font-family: Roboto Slab, sans-serif; /*Back-up font in case existing font fails */
    font-weight: 500;
    letter-spacing: 4px;
    color: #3a3a3a
}
/* Logo styling and location */
#logo {
    float: left;
    text-transform: uppercase;
    font-size: 300%;
}
/* Menu changes: move list menu to the right and remove bullet points */
#menu {
    font-size: 110%;
    letter-spacing: 4px;

}
#menu #logo{
    line-height: 75px;
}

#menu li{
    float: right;
    list-style-type: none;/* Removes bullet points */
    margin-right: 30px;
}

#menu a {
    text-decoration: none; 
    color: inherit;
}

#manu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#social-networks li{
    float: right;
    list-style-type: none;
}