@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300&display=swap');

/* Initialise webpage with zero values */
*{
    margin: 0;
    padding: 0;
    border: none;
}

/* Create a smooth animated scrolling effect */
html {
    scroll-behavior: smooth;
}

/* Style for overall webpage */
body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #202a25;
}
/* Headings and logo */
h1, h2 {
    font-family: Roboto Slab, sans-serif; /*Back-up font in case existing font fails */
    font-weight: 500;
}

h3 {
    font-weight: 100;
}

nav {
    display: flex;
    align-items: center;
    width: 110%;
    list-style: none;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
}

a {
    text-decoration: none;
    color: #202a25;
    opacity: 0.7;
}

/* Logo styling and location */
#logo {
    display: flex;
    justify-content: flex-start;
    text-transform: uppercase;
    font-size: 200%;
    text-decoration: none;
    padding-left: 10vw;
    opacity: 0.7;
}

#logo:hover{
    opacity: 1;
    transition: 0.6s;
}

#menu {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    font-size: 150%;
    font-weight: 300;
}
/* Change colour of nav elements when hovered over*/
#menu li{
    padding-left: 5vw;
    flex-direction: row-reverse;
    opacity: 0.7;
}

#menu li:hover{
    opacity: 1;
    transition: 0.6s;
}

#hero-logo{
    font-family: Roboto;
    text-transform: uppercase;
    font-size: 32vw;
    font-weight: 800;
    width: 100%;
    background: url('../img/d-day-walk.jpg') no-repeat center center;
    background-size: auto;
    -webkit-background-clip: text;
    color:rgba(0,0,0,0.4);
    padding: 0;
    display: flex;
    justify-content: center;
}

article {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10vh;
}

article sup{
    color: #857D66
}

aside{
    display: flex;
    justify-content: right;
    padding-right: 5%;
}

#references {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2vh;
    font-size: 80%;
}

#references em{
    color: #857D66;
    text-decoration: underline;
}

footer{
    display: flex;
    justify-content: center;
    align-items: space-between;
    border-top: solid #C1AE8C;
    width: 110%;
}

footer ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: flex-end;
    padding-right: 10%;
}

footer ul li{
    padding: 30%;
}

/* Media Queries for different page sizes */
@media (max-width: 1200px){

}

@media (max-width: 1024x) {

}

@media (max-width: 955x) {

}

@media (max-width: 768px) {

}

@media (max-width: 625x) {

}

@media (max-width: 390x) {

}